@charset "UTF-8";
/* CSS Document */

body {
	background-color: #320318;
}

blockquote {
	background-color: #941751;
	padding: 4rem 5.5rem 6rem;
	width: 40rem;
	margin: 10rem auto;
	border-radius: 14px;
}

blockquote p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.25rem;
	color: #FFF;
	line-height: 1.5rem;
}

blockquote p:before {
	content: '“';
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8rem;
	color: #b82d5d;
	float: left;
	margin-left: -10%;
	margin-top: 1.5rem;
}

blockquote p:after {
	content: '”';
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8rem;
	color: #b82d5d;
	float: right;
	margin-top: 3rem;
	margin-right: -10%;
}

cite {
	color: #f4a3c0;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
	font-size: 1.25rem;
	position: relative;
	margin-left: 2rem;
	top: 2rem;
}
